.sidebar {
    background-color: #fff;
}

li>a>span {
    color: #000;
}

li>a>span:hover {
    color: #D3D3D3;
}

.active {
    background: #E8F0FE;
    border-top-right-radius: 50em;
    border-bottom-right-radius: 50em;
}

.active>a>span {
    color: #2972D5;
}

.active>a>i {
    color: #2972D5;
    font-size: 25px !important;
}

i {
    color: #000;
}