.sidebar {
    background-color: #fff;
}

li>a>span {
    color: #000;
}

li>a>span:hover {
    color: #D3D3D3;
}

.active {
    background: #E8F0FE;
    border-top-right-radius: 50em;
    border-bottom-right-radius: 50em;
}

.new-button {
    border-radius: 50em;
    width: 110px;
    height: 45px;
}

.active>a>span {
    color: #2972D5;
}

.active>a>i {
    color: #2972D5;
    font-size: 25px !important;
}

i {
    color: #000;
}

.disabled-button {
    cursor: no-drop;
    background: none;
    border: none;
    color: #000 !important;
}